.footer {
	max-width: 140rem;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 30rem;

    .footer__logo{
        margin-top: 2rem;
    }

    .footer__grup{
        display: flex;

        .footer__nav {
            padding-right: 2rem;
            font-size: 14px;
            display: flex;
            margin-top: 1rem;
        }
        
        .footer__nav a:hover{
            color: #FFB259;
        }
    }
    
    .form {
        display: flex;
        height: 4rem;
        align-items: center;
        gap: 2rem;
        margin: 2rem 0 2rem 0;

        .footer__form {
            font-size: 1.3em;
            color: $color-logo;
            font-weight: 300;
            display: flex;
            gap: 1.5rem;
            align-items: end;
        }
        .footer__boton {
            font-size: 1.2em;
            height: 3rem;
            cursor: pointer;
        }
    }

    .footer__p {
        font-weight: 300;
    }
    
}

