*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

    body{
        font-family: $fuente-principal;
        background-color: $color-base;

        header{
            max-width: 140rem;
            margin: 0 auto;
        }
    }
}

a{
    text-decoration: none;
    color: $color-logo;
}

h1, h2{
    font-family: $fuente-secuendaria;
    color: $color-secundario;
}

p{
    text-align: justify;
    font-size: 1.5em;
    color: $color-logo;
    font-family: $fuente-principal;
    font-weight: 300;
}


.contenedor{
    max-width: 140rem;
    margin: 0 auto;
}

.pcontenedor__imgv {
    width: 40rem;
    height: 50rem;
    background-color: #fbf8f2;
    border-radius: 3rem;
    position: relative;
}

.pcontenedor__imgh {
        width: 419px;
        height: 290px;
        background-color: #fbf8f2;
        border-radius: 3rem;
        position: relative;
}

@media (max-width: 320px){
    .pcontenedor__imgh {
            width: 252px;
            height: 175px;
        }
}

.boton {
	background-color: $color-amarillo;
	text-decoration: none;
	color: $color-logo;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3em;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	/*margin-top: 2rem;*/
	border: none;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.formulario__input{
    font-family: $fuente-secuendaria;
    background-color: #e5dbc7;
    color: $color-secundario;
    width: 100%;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
}

