.header {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: center;

	
    .logo__home{
        scale: 80%;
    }
    @media screen and (max-width: 320px) {
        .logo__home{
            margin-top: 2rem;
        }
    }
    
    .nav {
            width: 100%;
            margin-top: 3rem;


        &__grupo {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.7em;
                justify-content: space-evenly;

                .contenedor__icon {
                        display: flex;
                        margin-top: 2rem;
                        width: 18rem;
                        justify-content: space-evenly;
                }
        }
        
        &__grupo a:hover{
            color: #FFB259;
        }
        
        .nav__menu {
            display: inline-block;
        }

        .nav__icon{
            display: flex;
            padding-right: 1rem;
        }
    }
    
}

