/*TRANSITION*/
    
.transition__h{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(
    to right,
    #F4EEE1,
    #F4EEE1 50%,
    #B8E2CA 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: content-box;
    -webkit-text-fill-color: var(--colorLogo);
    transition: all 0.5s ease-in-out;
}

.transition__h:before{
    content: '';
    background: #197c41;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in;
}
.transition__h:hover {
    background-position: 0;
}
.transition__h:hover::before{
    width: 100%;
}

/*FIN TRANSITION*/

/*animacion H1*/
.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}
@keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}