.formulario{
    font-size: 1.1em;
    font-weight: 300;
    color: $color-logo;
    margin-bottom: 0.5rem;
    width: min(60rem, 100rem);
    border-radius: 1.5rem;
    margin: 72px auto;
    padding: 2rem;
    
    &__campo {
        font-size: 1.5em;
        margin-bottom: 1rem;
    }
    
    &__check{
        margin-bottom: 2rem;

        .formulario__item{
            font-size: 1.5em;
            padding: 1rem;
        }
    }
    
    &__label{
        font-size: 1.5em;
        font-weight: 400;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
    
    input[type="checkbox"]{
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $color-logo;
        border-radius: 0.15em;
    }
    
    &__txt {
        background-color: #e5dbc7;
        color: $color-secundario;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0.25rem;
        padding: 1rem;
        margin-top: 1rem;
    }
    &__enviar .boton{
        width: 100%;
        cursor: pointer;
    }
}

@media (max-width: 320px){
    .formulario{
        width: 30rem;
    }
}


