/* MEDIA QUERY */

/*INDEX*/

/* MQ 768 */

@media screen and(max-width: 768px){

    .header {
        flex-direction: column;
    }

    .nav__grupo {
        font-size: 1.4em;
        margin-top: 1rem;
    }
    .contenedor__icon {
        left: 64rem !important;
    }
    .icon{
        width: 25px;
        height: 25px;
    }
    .banner__txt {
        margin: 0 6rem 0 2rem;
    }
    .form {
        flex-direction: column;
        height: 12rem;
    }
    .footer{
        height: 35rem;
    }
    .footer__boton{
        width: 100%;
    }
    .footer__form {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
    }

    /*NOSOTROS*/

    .nosotros__p{
        width: 600px;
    }


    .video{
        width: 630px;
        height: 360px;
    }

    /* PRODUCTOS */

    .productos{
        background-color: tomato;
    }

    /* .producto__img {
        position: absolute;
        top: 10%;
        left: 11%;
        margin: -25px 0 0 -25px;
        width: 60%;
        height: 60%;
        /*border-radius: 2rem;
    }*/
}

/* --- MQ 320 ---*/

@media screen and (max-width: 320px) {
    .header {
        flex-direction: column;
        margin-top: 0;
        align-items: center;
        text-align: center;
    }
    .nav {
        width: 100%;
        margin-bottom: 2rem;
    }  
    .nav__menu {
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    .contenedor__icon {
        left: 21rem !important;
        top: 1rem !important;
    }

    .nav__grupo {
        margin-top: 0;
        flex-direction: column;
    }

    .logo {
        margin-top: 3rem;
        width: auto;
    }

    .logo__home {
        width: 100%;
    }
    .banner {
        height: 50rem;
        margin-top: 1rem;
    }
    .banner__contenido{
    height: 50em;
    }

    .slide-left {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }

    .banner__p{
    margin: 2rem 2rem 2rem 4rem;
    text-align: left;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 1fr;
        background-color: var(--colorBasedos);
        margin-top: 7rem;
    }

    .footer__logo {
        margin-left: 1.5rem;
        margin-top: 0;
    }
    
    .footer__grup {
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer__nav {
        flex-direction: column;
        align-items: end;
        padding-right: 0;
        margin-right: 2.5rem;
        margin-top: 2rem;
    }

    .form {
        flex-direction: column;
        grid-column: 1 / 3;
        height: auto;
        background-color: var(--colorBasedos);
        padding: 2rem;
    }

    .footer__form {
        flex-direction: column;
        text-align: center;
    }

    .footer legend {
        text-transform: uppercase;
        line-height: 2rem;
    }

    .footer__p {
        display: grid;
        grid-column: 1 / 3;
        font-size: 1.1em;
        margin-bottom: 1rem;
        text-align: center;
    }

    /*NOSOTROS*/

.nosotros__tv {
        flex-direction: column;
        align-items: center;
        margin: 0;

        .nosotros__txt{
            margin: 0%;
        }
        .nosotros__p {
            text-align: center;
            line-height: 2.3rem;
            margin: 2rem 4rem;
            width: auto;
        }
    }

    .nosotros__txt{
        background-color: tomato;
    }
    
    .video {
        width: 250px;
        height: auto;
    }
    .nosotros__eq {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
        margin-top: 3rem;
    }
    .nosotros__info {
        width: auto;
        text-justify: auto;
        margin: 0 4rem;
        line-height: 2.3rem;
    }
    .nosotros__img {
        scale: 90%;
        margin-bottom: 0;
    }

}